<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mmtou.englishapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.OpenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ListChoiceActivity" />
        <activity android:name=".activity.ListActivity" />
        <activity android:name=".activity.CommonListActivity" />
        <activity android:name=".TestActivity" />
        <activity
            android:name=".activity.EnglishTrickActivity"
            android:label="@string/title_activity_english_trick"
            android:theme="@style/AppTheme" />
        <activity android:name=".fragment1_english_trick" />
        <activity android:name=".fragment2_english_trick" />
        <activity android:name=".fragment3_english_trick" />
        <activity android:name=".fragment4_english_trick" />
        <activity android:name=".fragment5_english_trick" />
        <activity android:name=".fragment6_english_trick" />
        <activity android:name=".fragment7_english_trick" />
        <activity android:name=".activity.VerbsDifferentWaysActivity" />
        <activity android:name=".ExerciseChoiceActivity" />
        <activity android:name=".activity.Exercise1Activity" />
        <activity android:name=".activity.Exercise1Correction" />
        <activity android:name=".activity.Exercise1ChoiceActivity" />
        <activity android:name=".Exercise2Activity" />
        <activity android:name=".Exercise2CorrectionActivity"></activity>
    </application>

</manifest>